:root {
    --box-size: 600px;
    --resoultion-number: 4;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 255, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    padding: 10px;
    background-color: rgb(248, 255, 254);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}

#container {
    border: 1px solid rgb(224, 224, 224);
    margin-top: 40px;
    width: var(--box-size);
    height: var(--box-size);
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;    
}

#box {    
    background-color: rgb(248, 255, 254);
    flex-grow: 1;
    flex-basis: calc(var(--box-size) / var(--resoultion-number));
    border: 0.02px solid rgb(235, 235, 235);
}

#languaje img {
    margin: 80px 40px;
    width: 50px;
    filter: brightness(0.5);
}

/* #languaje img:hover {
    filter: brightness(0.8);
} */